*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
    background-color: #32474c;
    font-family: "Poppins";
}
header{
    position: relative;
}
.bg-image{
    position: relative;
    background-image: url(images/background.jpg);
    filter: blur(6px);
    -webkit-filter: blur(6px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
nav{
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav img{
    width: 80px;
}
.nav_links{
    display: flex;
    list-style-type: none;
    gap: 35px;
}
.nav_links li a{
    font-size: 16px;
    text-decoration: none;
    color: aliceblue;
}
.nav_links li a:hover{
    color: #75c1df;
    text-decoration: underline;
    transition: 0.5s;
}
.name{
    position: absolute; 
    display: grid;
    justify-content: center;
    align-items: center;
    top: 40%;
    left: 14.5%;
}
.name p{
    margin: 0%;
    font-size: 25px;
    color: aliceblue;
}
.name h1{
    color: aliceblue;
    font-size: 35px;
}
.name h1 span{
    color: #75c1df;
    text-decoration: wavy;
}
.button {
    width: fit-content;
    --color: #75c1df;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    color: var(--color);
    z-index: 1;
}
.button::before, .button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
}  
.button::before {
    top: -1em;
    left: -1em;
}   
.button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}
.button:hover::before, .button:hover::after {
    height: 410px;
    width: 410px;
}
.button:hover {
    color: rgb(10, 25, 30);
}
.button:active {
    filter: brightness(.8);
}
.about{
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.about h1, .contact h1{
    color: #75c1df;
    margin: 0;
    font-size: 35px;
}
.about p{
    margin: 0;
    width: 535px;
}
.project{
    display: grid;
    justify-content: center;
    align-items: center;
}
.project h1{
    text-align: center;
    color: #75c1df;
    margin-top: 40px;
    font-size: 35px;
}
.projects-card{
    padding: 0 150px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.first-content p{
    margin: 0;
    font-size: 24px ;
    color: #75c1df;
    text-align: center;
}
.second-content p{
    margin: 0;
    font-size: 15px;
    color: aliceblue;
    /* color: #3E8180; */
    text-decoration: none;
}
.card {
    width: 190px;
    height: 230px;
    background: #cce2eb;
    transition: all 0.4s;
    border-radius: 10px;
    box-shadow: 5px 4px 10px #516870;
    font-size: 30px;
    font-weight: 900;
    margin: 25px;
}
.card:hover {
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.1);
    background: #75c1df;
}
.first-content {
    height: 100%;
    width: 100%;
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    border-radius: 15px;
}
.card:hover .first-content {
    height: 0px;
    opacity: 0;
}
.second-content {
    padding: 0 10px;
    height: 0%;
    width: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: all 0.4s;
    font-size: 0px;
    transform: rotate(90deg) scale(-1);
}
.card:hover .second-content {
    opacity: 1;
    height: 100%;
    font-size: 1rem;
    transform: rotate(0deg);
}
  



.contact{
    padding: 50px 150px;
    display: flex;
    justify-content: center;
    gap: 60px;
}
.contact-left{
    margin-top: 20px;
}
.contact-left p{
    color: aliceblue;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;
}
input, textarea {
    color: aliceblue;
    font-size: 15px;
    font-family: "Poppins";
    background: #516870;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    border: solid transparent;
    margin: 15px 0;
    outline: none;
}
input::placeholder, textarea::placeholder{
    color: rgb(170, 175, 179);
}
textarea {
    height: 150px;
}
#contact-form .button {
    position: relative;
    overflow: hidden;
    font-size: 17px;
}
#icon{
    color: #62b9db;
    font-size: 20px;
}












/* animation: appears linear;
    animation-timeline: view();
    animation-range: entry 0%;
@keyframes appears{
    from{
        opacity: 0;
        clip-path: inset(100% 100% 0 0);
    }
    to{
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
} */